.masthead {
    height: 100vh;
    min-height: 300px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

section {
    height: 100vh;
    min-height: 300px;
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    margin: 2px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.logo-small {
    font-size: 24px;
}

.logo-mid {
    font-size: 36px;
}

.logo-large {
    font-size: 48px;
    margin-bottom: 0.5rem;
    color: grey; 
}

.grey-bg {
    background-color: grey;
}

